html {
    overflow: scroll;
    overflow-x: hidden;
    background: #1a202c;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    background-image: url('https://cdn.discordapp.com/attachments/937639456347942932/965115869854302208/bg.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}