html {
    overflow: scroll;
    overflow-x: hidden;
    background: #1a202c;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    height: 100vh;
    padding:0;
    margin:0;
}