---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ukiyo | Home</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="manifest" href="/manifest.json" />
  {% seo %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3T9CBFLC3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J3T9CBFLC3');
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "How do I get started with Japanese on Ukiyo?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>You can start by joining <a href=\"https://discord.gg/ukiyo-fu-shi-937243464079400990\">Ukiyo's Discord server</a> or our <a href=\"/starter-guide\">starter guide</a>. We have a provided all the resources you need to get started with Japanese. First you need to learn Hiragana and Katakana. Then you can start learning Kanji and grammar. While doing so you can start practicing your listening skills by watching Japanese media. We have a list of recommended resources for each of these steps.</p>"
        }
      },
      {
        "@type": "Question",
        "name": "What resources does Ukiyo offer for JLPT preparation?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>
            We provide books, flashcards, and practice tests for each JLPT level. We also have a
            audo and video resources for listening practice. You can find all of these resources in
            our <a href=\"/Library\">library</a> page.
        </p>"
        }
      },
      {
        "@type": "Question",
        "name": "Can I track my study progress with Ukiyo's tools?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>
            Yes, in Ukiyo Server you can track your study time by using <a href=\"#\">Leo Bot. </a>You
            can join any VC channel under \"STUDY VCS\" and Leo will track it. And you will be will be
            able to use our Pomodoro Timer to track your study time once it is released.
        </p>"
        }
      },
      {
        "@type": "Question",
        "name": "What are the benefits of joining the Ukiyo server?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "
            <p>
                By joining Ukiyo, you gain access to a supportive community of language learners,
                diverse resources for studying
                Japanese and English, and tools that can track and enhance your study sessions. Plus,
                our friendly atmosphere makes
                learning a new language fun and engaging.
            </p>
        </div>"
        }
      },
      {
        "@type": "Question",
        "name": "How does the Word of the Day channel work?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>
            Our Word of the Day channel introduces a new vocabulary word daily, complete with its
            meaning, pronunciation, and an
            example sentence. It's a simple, effective way to enrich your vocabulary regularly.
        </p>"
        }
      },
      {
        "@type": "Question",
        "name": "Can Kenzo, the server bot, assist me in my learning?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>
            Absolutely! Kenzo is an AI-powered chatbot that offers study tips, tracks your learning
            progress, and can even
            participate in basic conversations to help you practice your language skills.
        </p>"
        }
      }]
    }
  </script>
</head>

<body class="dark:text-white dark:bg-slate-800 flex items-center flex-col">
{% include header.html %}

{% include faqs.html %}

{% include footer.html %}
{% include cookieNotice.html %}
{% include scripts.html %}
</body>

</html>