<!-- Card Blog -->
<div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-4 lg:mx-8">
    <!-- Title -->
    <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Read our latest news</h2>
        <p class="mt-1 text-gray-600 dark:text-gray-400">We've helped some great companies brand, design and get to
            market.</p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
        <!-- Card -->
        {% for post in site.posts limit:4 %}
        <!-- Card -->
        <a class="group flex flex-col h-full border border-gray-200 hover:border-transparent hover:shadow-lg transition-all duration-300 rounded-xl p-5 dark:border-gray-700 dark:hover:border-transparent dark:hover:shadow-black/[.4] dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="{{ post.url }}">
            <div class="aspect-w-16 aspect-h-11">
                {% if post.image %}

                <img class="w-full object-cover rounded-xl" src="{{ post.image.path }}" alt="{{ post.image.alt }}">{%
                else %}
                <img class="w-full object-cover rounded-xl"
                    src="https://media.discordapp.net/attachments/938314763082018816/1183304160611938367/default_blog_banner.png"
                    alt="Blog Cover Image">{% endif %}
            </div>
            <div class="my-6">
                <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:group-hover:text-white">
                    {{ post.title }}
                </h3>
                <p class="mt-5 text-gray-600 dark:text-gray-400">
                    {% if post.description %}
                    {{ post.description | strip_html | truncatewords: 20 }}
                    {% else %}
                    {{ post.excerpt | strip_html | truncatewords: 20 }}
                    {% endif %}
                </p>
            </div>
            <div class="mt-auto flex justify-between items-center gap-x-3">
                <div class="mt-auto flex items-center gap-x-3">
                    {% if post.author_image %}
                    <img class="w-8 h-8 rounded-full" src="{{ post.author_image }}" alt="Image of {{ post.author}}.">
                    {% else %}
                    <img class="w-8 h-8 rounded-full" src="{{ '/assets/icons/user.png' | relative_url }}"
                        alt="Image of {{ post.author}}.">
                    {% endif %}
                    <div>
                        <h5 class="text-sm text-gray-800 dark:text-gray-200">
                            {% if post.author %}
                            {{ post.author }}
                            {% else %}
                            Ukiyo
                            {% endif %}</h5>
                    </div>
                </div>
                <div>
                    <h5>{{ post.date | date:
                        "%b
                        %-d, %Y" }}</h5>
                </div>
            </div>
        </a>
        <!-- End Card -->
        {% endfor %}
        <!-- End Card -->
    </div>
    <!-- End Grid -->

    <!-- Card -->
    <div class="text-center">
        <div class="inline-block bg-white border shadow-sm rounded-full dark:bg-slate-900 dark:border-gray-800">
            <div class="py-3 px-4 flex items-center gap-x-2">
                <p class="text-gray-600 dark:text-gray-400">
                    Want to read more?
                </p>
                <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium"
                    href="/blogs">
                    Go here
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>
<!-- End Card Blog -->