<!--Footer-->
<footer class="text-gray-400 bg-gray-900 body-font">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <!--<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>-->
        <img src="{{site.url}}/asset/ukiyo_ico.ico" alt="Icon" class="w-10 h-10 text-white rounded-full">
        <span class="ml-3 text-xl">Ukiyo | 浮世</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">A chill language exchange server.</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
        <nav class="list-none mb-10">
          <!--
          <li>
            <a class="text-gray-400 hover:text-white" href="{{site.url}}">Home</a>
          </li>
          -->
          <li>
            <a class="text-gray-400 hover:text-white" href="{{site.url}}/library">Library</a>
          </li>
          <li>
            <a
            class="text-gray-400 hover:text-white" href="{{site.url}}/blogs">Blogs</a>
          </li>
          <li>
            <a class="text-gray-400 hover:text-white" href="{{site.url}}/events">Events</a>
          </li>
          <li>
            <a class="text-gray-400 hover:text-white" href="{{site.url}}/aboutus">About Us</a>
          </li>
          <li>
            <a class="text-gray-400 hover:text-white" href="{{site.url}}/support/">Support</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 bg-opacity-75">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-400 text-sm text-center sm:text-left">© 2022 Ukiyo | 浮世 —
        <a href="" rel="noopener noreferrer" class="text-gray-500 ml-1">made with love.</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-400">
          v1.0 Alpa
        </a>
      </span>
    </div>
  </div>
</footer>