  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Ukiyo,Ukiyo server,Japanese,Japanese discord server, jlpt">

  <!-- Primary Meta Tags -->
<title>Ukiyo | 浮世</title>
<meta name="title" content="Ukiyo | 浮世">
<meta name="description" content="It is a Chill Japanese - English exchange server. Where you can get JLPT updates, best resource, helpful members, and much  more. Join now.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Ukiyo | 浮世">
<meta property="og:description" content="It is a Chill Japanese - English exchange server. Where you can get JLPT updates, best resource, helpful members, and much  more. Join now.">
<meta property="og:image" content="https://media.discordapp.net/attachments/851762001202249728/941214777571696690/IMG_3161.gif">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Ukiyo | 浮世">
<meta property="twitter:description" content="It is a Chill Japanese - English exchange server. Where you can get JLPT updates, best resource, helpful members, and much  more. Join now.">
<meta property="twitter:image" content="https://media.discordapp.net/attachments/851762001202249728/941214777571696690/IMG_3161.gif">