<!-- Scripts -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/preline.js"></script>
<!-- Theme Changer -->
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
<!-- All components in one -->
<script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/kutty.min.js"></script>
<!-- Single component -->
<!-- Include AlpineJS first -->
<script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/alpinejs.min.js"></script>
<!-- And then the single component -->
<script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/dropdown.min.js"></script>
<!-- End Scripts -->