<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukiyo | Home</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="/assets/icons/icon-96x96.png" type="image/x-icon">
    {% seo %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3T9CBFLC3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J3T9CBFLC3');
    </script>
</head>

<body>
    {% include header.html %}
    <!-- Card Blog -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
            <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">The Blogs</h2>
            <p class="mt-1"></p>
        </div>
        <!-- End Title -->

        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for post in paginator.posts %}
            <!-- Card -->
            <a class="group flex flex-col h-full border border-gray-200 hover:border-transparent hover:shadow-lg transition-all duration-300 rounded-xl p-5 dark:border-gray-700 dark:hover:border-transparent dark:hover:shadow-black/[.4] dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                href="{{ post.url }}">
                <div class="aspect-w-16 aspect-h-9">
                    {% if post.image %}
                    <img class="w-full object-cover rounded-xl" src="{{ post.image.path }}" alt="{{ post.image.alt }}">
                    {% else %}
                    <img class="w-full object-cover rounded-xl"
                        src="https://media.discordapp.net/attachments/938314763082018816/1183304160611938367/default_blog_banner.png"
                        alt="Placeholder image">
                    {% endif %}
                </div>
                <div class="my-6">
                    <h3 class="text-xl font-semibold">
                        {{ post.title }}
                    </h3>
                    <p class="mt-5">
                        {% if post.description %}
                        {{ post.description }}
                        {% else %}
                        {{ post.excerpt }}
                        {% endif %}
                    </p>
                </div>
                <div class="mt-auto flex justify-between items-center gap-x-3">
                    <div class="mt-auto flex items-center gap-x-3">
                        {% assign author = site.data.authors[post.author] %}
                        {% if author.image %}
                        <img class="w-8 h-8 rounded-full" src="{{ author.image }}" alt="Image Description">
                        {% else %}
                        <img class="w-8 h-8 rounded-full" src="{{ '/assets/icons/user.png   ' | relative_url }}"
                            alt="Image Description">
                        {% endif %}
                        <div>
                            {% if post.author %}
                            <h5 class="text-sm">{{ author.name }}</h5>
                            {% else %}
                            <h5 class="text-sm">Ukiyo</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h5>{{ post.date | date:
                            "%b
                            %-d, %Y" }}</h5>
                    </div>
                </div>
            </a>
            <!-- End Card -->
            {% endfor %}
        </div>

        <!-- Pagination -->
        <nav
            class="flex flex-col items-center justify-center mt-20 space-x-0 space-y-2 md:space-x-2 md:space-y-0 md:flex-row">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}"
                class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
                <span aria-hidden="true" class="hidden sm:block">Previous</span>
            </a>
            {% else %}
            <button type="button"
                class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
                <svg aria-hidden="true" class="hidden flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
                <span>Previous</span>
            </button>
            {% endif %}

            <div class="flex items-center gap-x-1">
                <span
                    class="min-h-[38px] min-w-[38px] flex justify-center items-center border py-2 px-3 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none">{{
                    paginator.page }}</span>
                <span class="min-h-[38px] flex justify-center items-center px-1.5 text-sm">of</span>
                <span class="min-h-[38px] flex justify-center items-center px-1.5 text-sm">{{
                    paginator.total_pages }}</span>
            </div>

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}"
                class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
                <span aria-hidden="true" class="hidden sm:block">Next</span>
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </a>
            {% else %}
            <button type="button"
                class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
                <span>Next</span>
                <svg aria-hidden="true" class="hidden flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
            {% endif %}
        </nav>
        <!-- End Pagination -->
        <!-- End Card Blog -->
        {% include cookieNotice.html %}
        {% include scripts.html %}
        <script>

        </script>
</body>

</html>