<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNPVW96P8H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNPVW96P8H');
</script>
    {% include meta.htm %}
  <link rel="author" href="https://discord.com/users/389799943121928192"/>
  <link rel="shortcut icon" href="{{site.url}}/asset/ukiyo_ico_nbg.ico" type="image/x-icon">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{site.url}}/css/style.css"  rel="stylesheet">
  <script src="https://kit.fontawesome.com/9fcba1b3ce.js" crossorigin="anonymous"></script>
  <title>Ukiyo | 浮世</title>
</head>

<body>
  <header class="text-gray-400 bg-gray-900 body-font">
    {% include nav.htm %}
  </header>


{{content}}

{% include footer.htm %}
</body>

</html>
