<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukiyo | Home</title>
    <link rel="stylesheet" href="/assets/css/prod.css">
    <link rel="manifest" href="/manifest.json" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/assets/icons/icon-96x96.png" type="image/x-icon">
    {% seo %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3T9CBFLC3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J3T9CBFLC3');
    </script>
</head>

<body>
    {% include header.html %}
    {% include hero.html %}
    {% include features.html %}
    {% include blogCards.html %}
    {% include testimonial.html %}
    {% include faqs.html %}
    {% include footer.html %}
    {% include cookieNotice.html %}
    {% include scripts.html %}
    <script>

    </script>
</body>

</html>