<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/node_modules/preline/dist/preline.js"></script>
    {% seo %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J3T9CBFLC3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-J3T9CBFLC3');
    </script>
</head>

<body class="dark:text-white dark:bg-slate-800 flex-col">
    <article class="px-4 mx-auto" itemid="#" itemscope itemtype="http://schema.org/BlogPosting">

        <div class="w-full mx-auto mb-12 text-left md:w-3/4 lg:w-1/2">
            <a class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 my-8"
                onclick="window.history.back()">
                <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
                Back to Blog
            </a>
            {% if page.image %}
            <img src="{{ page.image.path }}" class="object-cover w-full h-64 bg-center rounded-lg"
                alt="{{ page.image.alt }}" />
            {% else %}
            <img src="https://media.discordapp.net/attachments/938314763082018816/1183304160611938367/default_blog_banner.png"
                class="object-cover w-full h-64 bg-center rounded-lg">
            {% endif %}
            <p class="mt-6 mb-2 text-xs font-semibold tracking-wider uppercase text-blue-500">{{ page.category }}</p>
            <h1 class="mb-3 text-3xl font-bold leading-tight md:text-4xl" itemprop="headline" title="{{ page.title }}">
                {{ page.title }}
            </h1>{% if page.tags.size > 0 %}
            <div class="flex mb-6 space-x-2">
                {% for tag in page.tags %}
                <a class="text-gray-900 bg-gray-100 badge hover:bg-gray-200 cursor-not-allowed pointer-events-none"
                    href="/tags/{{ tag | slugify }}">{{ tag
                    }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <a class="flex items-center" href="#">
                <div class="avatar">
                    {% if page.author_image %}
                    <img src="{{ page.author_image }}" alt="Photo of {{ page.author }}" />
                    {% else %}
                    <img src="{{ '/assets/icons/user.png' | relative_url }}" alt="Photo of {{ page.author }}" />
                    {% endif %}
                </div>
                <div class="ml-2">
                    {% if page.author %}
                    <p class="text-sm font-semibold">{{ page.author }}</p>
                    {% else %}
                    <p class="text-sm font-semibold">Ukiyo</p>
                    {% endif %}
                    <p class="text-sm">{{ page.date
                        | date_to_string }}</p>
                </div>
            </a>
            <div class="w-full max-w-none mb-12 my-12 text-left prose dark:prose-invert">
                {{ content }}
            </div>
        </div>


    </article>

</body>

</html>